<div class="card mb-3">
  <h2 class="card-header h4">
    Job Type #<%= job_type.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Product</dt>
      <!-- Display product start -->
      <dd><%= job_type.product %></dd>
      <!-- Display product end -->

      <dt>Strategy</dt>
      <!-- Display strategy start -->
      <dd><%= job_type.strategy %></dd>
      <!-- Display strategy end -->

      <dt>New business launch</dt>
      <!-- Display new_business_launch start -->
      <dd><%= job_type.new_business_launch %></dd>
      <!-- Display new_business_launch end -->

      <dt>Venture capital</dt>
      <!-- Display venture_capital start -->
      <dd><%= job_type.venture_capital %></dd>
      <!-- Display venture_capital end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back job_type, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link job_type start -->
      <div class="col">
        <%= link_to edit_job_type_url(job_type), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link job_type end -->

      <!-- Delete link job_type start -->
      <div class="col">
        <%= link_to job_type, method: :delete, data: { confirm: "Do you really want to delete this job_type?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link job_type end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(job_type.updated_at) %> ago
  </div>
</div>
