<%= form_with(model: @job_category, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :job_application_id %>

    <%= f.collection_select :job_application_id, JobApplication.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :job_id, value: @job_type.id %>

  <%= f.submit "Create job category", class: "btn btn-block btn-outline-secondary" %>
<% end %>
