<%= search_form_for @q, :class => collapse_search_form, :id => "job_types_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :product, "Product" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :product_gteq, :class => "form-control", :placeholder => "Product greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :product_lteq, :class => "form-control", :placeholder => "Product less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :venture_capital, "Venture capital" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :venture_capital_gteq, :class => "form-control", :placeholder => "Venture capital greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :venture_capital_lteq, :class => "form-control", :placeholder => "Venture capital less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :new_business_launch, "New business launch" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :new_business_launch_gteq, :class => "form-control", :placeholder => "New business launch greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :new_business_launch_lteq, :class => "form-control", :placeholder => "New business launch less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :strategy, "Strategy" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :strategy_gteq, :class => "form-control", :placeholder => "Strategy greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :strategy_lteq, :class => "form-control", :placeholder => "Strategy less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/job_types" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#job_types_filters">
  Show filters
</a>
