<% was_validated = job_category.errors.any? %>

<%= form_with(model: job_category, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = job_category.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% job_category.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% job_application_class = "form-control" %>
    <% job_application_was_invalid = job_category.errors.include?(:job_application) %>

    <% if was_validated %>
      <% if job_application_was_invalid %>
        <% job_application_class << " is-invalid" %>
      <% else %>
        <% job_application_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :job_application_id %>
    <%= f.collection_select :job_application_id, JobApplication.all, :id, :to_s, {}, class: "form-control" %>
    <% if job_application_was_invalid %>
      <% job_category.errors.full_messages_for(:job_application).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
