<% was_validated = interview.errors.any? %>

<%= form_with(model: interview, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% application_class = "form-control" %>
    <% application_was_invalid = interview.errors.include?(:application) %>

    <% if was_validated %>
      <% if application_was_invalid %>
        <% application_class << " is-invalid" %>
      <% else %>
        <% application_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :application_id %>
    <%= f.collection_select :application_id, JobApplication.all, :id, :to_s, {}, class: "form-control" %>
    <% if application_was_invalid %>
      <% interview.errors.full_messages_for(:application).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% interview_round_class = "form-control" %>
    <% interview_round_was_invalid = interview.errors.include?(:interview_round) %>

    <% if was_validated %>
      <% if interview_round_was_invalid %>
        <% interview_round_class << " is-invalid" %>
      <% else %>
        <% interview_round_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interview_round %>
    <%= f.text_field :interview_round, class: interview_round_class, placeholder: "Enter interview round" %>
    <% if interview_round_was_invalid %>
      <% interview.errors.full_messages_for(:interview_round).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% resume_drop_class = "form-control" %>
    <% resume_drop_was_invalid = interview.errors.include?(:resume_drop) %>

    <% if was_validated %>
      <% if resume_drop_was_invalid %>
        <% resume_drop_class << " is-invalid" %>
      <% else %>
        <% resume_drop_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :resume_drop %>
    <%= f.number_field :resume_drop, class: resume_drop_class, placeholder: "Enter resume drop" %>
    <% if resume_drop_was_invalid %>
      <% interview.errors.full_messages_for(:resume_drop).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% strategy_class = "form-control" %>
    <% strategy_was_invalid = interview.errors.include?(:strategy) %>

    <% if was_validated %>
      <% if strategy_was_invalid %>
        <% strategy_class << " is-invalid" %>
      <% else %>
        <% strategy_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :strategy %>
    <%= f.text_field :strategy, class: strategy_class, placeholder: "Enter strategy" %>
    <% if strategy_was_invalid %>
      <% interview.errors.full_messages_for(:strategy).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% take_home_class = "form-control" %>
    <% take_home_was_invalid = interview.errors.include?(:take_home) %>

    <% if was_validated %>
      <% if take_home_was_invalid %>
        <% take_home_class << " is-invalid" %>
      <% else %>
        <% take_home_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :take_home %>
    <%= f.number_field :take_home, class: take_home_class, placeholder: "Enter take home" %>
    <% if take_home_was_invalid %>
      <% interview.errors.full_messages_for(:take_home).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = interview.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% interview.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
