<% was_validated = interview.errors.any? %>

<%= form_with(model: interview, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for application_id start -->
  <div class="form-group">
    <% application_class = "form-control" %>
    <% application_was_invalid = interview.errors.include?(:application) %>

    <% if was_validated %>
      <% if application_was_invalid %>
        <% application_class << " is-invalid" %>
      <% else %>
        <% application_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :application_id %>
    <!-- Input for application_id start -->
    <%= f.collection_select :application_id, JobApplication.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for application_id end -->
    <% if application_was_invalid %>
      <% interview.errors.full_messages_for(:application).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for application_id end -->
  <!-- Label and input for interview_round start -->
  <div class="form-group">
    <% interview_round_class = "form-control" %>
    <% interview_round_was_invalid = interview.errors.include?(:interview_round) %>

    <% if was_validated %>
      <% if interview_round_was_invalid %>
        <% interview_round_class << " is-invalid" %>
      <% else %>
        <% interview_round_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interview_round %>
    <!-- Input for interview_round start -->
    <%= f.text_field :interview_round, class: interview_round_class, placeholder: "Enter interview round" %>
    <!-- Input for interview_round end -->
    <% if interview_round_was_invalid %>
      <% interview.errors.full_messages_for(:interview_round).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for interview_round end -->
  <!-- Label and input for take_home start -->
  <div class="form-group">
    <% take_home_class = "form-control" %>
    <% take_home_was_invalid = interview.errors.include?(:take_home) %>

    <% if was_validated %>
      <% if take_home_was_invalid %>
        <% take_home_class << " is-invalid" %>
      <% else %>
        <% take_home_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :take_home %>
    <!-- Input for take_home start -->
    <%= f.number_field :take_home, class: take_home_class, placeholder: "Enter take home" %>
    <!-- Input for take_home end -->
    <% if take_home_was_invalid %>
      <% interview.errors.full_messages_for(:take_home).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for take_home end -->
  <!-- Label and input for status start -->
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = interview.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status %>
    <!-- Input for status start -->
    <%= f.text_field :status, class: status_class, placeholder: "Enter status" %>
    <!-- Input for status end -->
    <% if status_was_invalid %>
      <% interview.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for status end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
