<%= form_with(model: @interview_style, local: true) do |f| %>

  <%= f.hidden_field :interview_id, value: @interview.id %>

  <div class="form-group">
    <%= f.label :style_id %>

    <%= f.collection_select :style_id, Style.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create interview style", class: "btn btn-block btn-outline-secondary" %>
<% end %>
