<% was_validated = job_application.errors.any? %>

<%= form_with(model: job_application, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = job_application.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% job_application.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = job_application.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% job_application.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% company_class = "form-control" %>
    <% company_was_invalid = job_application.errors.include?(:company) %>

    <% if was_validated %>
      <% if company_was_invalid %>
        <% company_class << " is-invalid" %>
      <% else %>
        <% company_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :to_s, {}, class: "form-control" %>
    <% if company_was_invalid %>
      <% job_application.errors.full_messages_for(:company).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% interest_level_class = "form-control" %>
    <% interest_level_was_invalid = job_application.errors.include?(:interest_level) %>

    <% if was_validated %>
      <% if interest_level_was_invalid %>
        <% interest_level_class << " is-invalid" %>
      <% else %>
        <% interest_level_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interest_level %>
    <%= f.number_field :interest_level, class: interest_level_class, placeholder: "Enter interest level" %>
    <% if interest_level_was_invalid %>
      <% job_application.errors.full_messages_for(:interest_level).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% platform_class = "form-control" %>
    <% platform_was_invalid = job_application.errors.include?(:platform) %>

    <% if was_validated %>
      <% if platform_was_invalid %>
        <% platform_class << " is-invalid" %>
      <% else %>
        <% platform_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :platform %>
    <%= f.number_field :platform, class: platform_class, placeholder: "Enter platform" %>
    <% if platform_was_invalid %>
      <% job_application.errors.full_messages_for(:platform).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% networking_class = "form-control" %>
    <% networking_was_invalid = job_application.errors.include?(:networking) %>

    <% if was_validated %>
      <% if networking_was_invalid %>
        <% networking_class << " is-invalid" %>
      <% else %>
        <% networking_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :networking %>
    <%= f.number_field :networking, class: networking_class, placeholder: "Enter networking" %>
    <% if networking_was_invalid %>
      <% job_application.errors.full_messages_for(:networking).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = job_application.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comments %>
    <%= f.text_area :comments, class: comment_class, placeholder: "Enter comment" %>
    <% if comment_was_invalid %>
      <% job_application.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% applied_on_class = "form-control" %>
    <% applied_on_was_invalid = job_application.errors.include?(:applied_on) %>

    <% if was_validated %>
      <% if applied_on_was_invalid %>
        <% applied_on_class << " is-invalid" %>
      <% else %>
        <% applied_on_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :applied_on %>
    <%= f.date_select :applied_on, class: applied_on_class, placeholder: "Enter applied on" %>
    <% if applied_on_was_invalid %>
      <% job_application.errors.full_messages_for(:applied_on).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% heard_back_on_class = "form-control" %>
    <% heard_back_on_was_invalid = job_application.errors.include?(:heard_back_on) %>

    <% if was_validated %>
      <% if heard_back_on_was_invalid %>
        <% heard_back_on_class << " is-invalid" %>
      <% else %>
        <% heard_back_on_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :heard_back_on %>
    <%= f.datetime_select :heard_back_on, class: heard_back_on_class, placeholder: "Enter heard back on" %>
    <% if heard_back_on_was_invalid %>
      <% job_application.errors.full_messages_for(:heard_back_on).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = job_application.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% job_application.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% job_type_class = "form-control" %>
    <% job_type_was_invalid = job_application.errors.include?(:job_type) %>

    <% if was_validated %>
      <% if job_type_was_invalid %>
        <% job_type_class << " is-invalid" %>
      <% else %>
        <% job_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :job_type_id %>
    <%= f.number_field :job_type_id, class: job_type_class, placeholder: "Enter job type" %>
    <% if job_type_was_invalid %>
      <% job_application.errors.full_messages_for(:job_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% url_class = "form-control" %>
    <% url_was_invalid = job_application.errors.include?(:url) %>

    <% if was_validated %>
      <% if url_was_invalid %>
        <% url_class << " is-invalid" %>
      <% else %>
        <% url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :url %>
    <%= f.text_field :url, class: url_class, placeholder: "Enter url" %>
    <% if url_was_invalid %>
      <% job_application.errors.full_messages_for(:url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
