<%= form_with(model: @interview, local: true) do |f| %>

  <%= f.hidden_field :application_id, value: @job_application.id %>

  <div class="form-group">
    <%= f.label :interview_round %>

    <%= f.text_field :interview_round, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :take_home %>

    <%= f.text_field :take_home, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>

    <%= f.text_field :status, class: "form-control" %>
  </div>

  <%= f.submit "Create interview", class: "btn btn-block btn-outline-secondary" %>
<% end %>
