<% was_validated = style.errors.any? %>

<%= form_with(model: style, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = style.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% style.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% resume_drop_class = "form-control" %>
    <% resume_drop_was_invalid = style.errors.include?(:resume_drop) %>

    <% if was_validated %>
      <% if resume_drop_was_invalid %>
        <% resume_drop_class << " is-invalid" %>
      <% else %>
        <% resume_drop_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :resume_drop %>
    <%= f.text_field :resume_drop, class: resume_drop_class, placeholder: "Enter resume drop" %>
    <% if resume_drop_was_invalid %>
      <% style.errors.full_messages_for(:resume_drop).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% strategy_class = "form-control" %>
    <% strategy_was_invalid = style.errors.include?(:strategy) %>

    <% if was_validated %>
      <% if strategy_was_invalid %>
        <% strategy_class << " is-invalid" %>
      <% else %>
        <% strategy_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :strategy %>
    <%= f.text_field :strategy, class: strategy_class, placeholder: "Enter strategy" %>
    <% if strategy_was_invalid %>
      <% style.errors.full_messages_for(:strategy).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% take_home_class = "form-control" %>
    <% take_home_was_invalid = style.errors.include?(:take_home) %>

    <% if was_validated %>
      <% if take_home_was_invalid %>
        <% take_home_class << " is-invalid" %>
      <% else %>
        <% take_home_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :take_home %>
    <%= f.text_field :take_home, class: take_home_class, placeholder: "Enter take home" %>
    <% if take_home_was_invalid %>
      <% style.errors.full_messages_for(:take_home).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% product_case_class = "form-control" %>
    <% product_case_was_invalid = style.errors.include?(:product_case) %>

    <% if was_validated %>
      <% if product_case_was_invalid %>
        <% product_case_class << " is-invalid" %>
      <% else %>
        <% product_case_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_case %>
    <%= f.text_field :product_case, class: product_case_class, placeholder: "Enter product case" %>
    <% if product_case_was_invalid %>
      <% style.errors.full_messages_for(:product_case).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
