<%= form_with(model: @job_application, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :company_id, value: @company.id %>

  <div class="form-group">
    <%= f.label :interest_level %>

    <%= f.text_field :interest_level, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :platform %>

    <%= f.text_field :platform, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :networking %>

    <%= f.text_field :networking, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :applied_on %>

    <%= f.date_select :applied_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :heard_back_on %>
    <%= f.datetime_select :heard_back_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :job_type_id %>

    <%= f.text_field :job_type_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>

    <%= f.text_field :url, class: "form-control" %>
  </div>

  <%= f.submit "Create job application", class: "btn btn-block btn-outline-secondary" %>
<% end %>
