<div class="card mb-3">
  <h2 class="card-header h4">
    Interview Style #<%= interview_style.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Interview</dt>
      <dd>
        <% if @interview_style.interview.present? %>
          <%= link_to interview_style.interview, interview_style.interview %>
        <% end %>
      </dd>

      <dt>Style</dt>
      <dd>
        <% if @interview_style.style.present? %>
          <%= link_to interview_style.style, interview_style.style %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back interview_style, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_interview_style_url(interview_style), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to interview_style, method: :delete, data: { confirm: "Do you really want to delete this interview_style?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(interview_style.updated_at) %> ago
  </div>
</div>
