<% was_validated = interview_style.errors.any? %>

<%= form_with(model: interview_style, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% interview_class = "form-control" %>
    <% interview_was_invalid = interview_style.errors.include?(:interview) %>

    <% if was_validated %>
      <% if interview_was_invalid %>
        <% interview_class << " is-invalid" %>
      <% else %>
        <% interview_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :interview_id %>
    <%= f.collection_select :interview_id, Interview.all, :id, :to_s, {}, class: "form-control" %>
    <% if interview_was_invalid %>
      <% interview_style.errors.full_messages_for(:interview).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% style_class = "form-control" %>
    <% style_was_invalid = interview_style.errors.include?(:style) %>

    <% if was_validated %>
      <% if style_was_invalid %>
        <% style_class << " is-invalid" %>
      <% else %>
        <% style_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :style_id %>
    <%= f.collection_select :style_id, Style.all, :id, :to_s, {}, class: "form-control" %>
    <% if style_was_invalid %>
      <% interview_style.errors.full_messages_for(:style).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
